body {
    background-color: rgb(255, 100, 100);
    font-family: sans-serif;
    color: rgb(65, 0, 0);
}

.page {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.togglePen {
    color: red;
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.divCrosshairs {
    cursor: crosshair;
}

.clear {
    background-color: rgb(230, 230, 230);
    padding: 10px;
}

.container {
    display: grid;
    justify-content: center;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(3, 30px [col-start]);
    grid-template-rows: repeat(3, 30px [row-start]);
}

.colors {
    margin: 2px;
    border: 2px solid black;
}

.colors:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s;
}